.board-container {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}



.board-scroll-wrapper {  
  overflow-x: none;  
}
@media (min-width: 1625px) {
  .board-scroll-wrapper {
    overflow-x: none;    
  }
}


.board-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 2px solid var(--neon-yellow);
  border-radius: 13px;
  background: var(--panel-bg);
  width: 90vw;
  height: 35vh;
  box-shadow: var(--border-glow);
  position: relative;
  min-width: 520px;
  left: 62px;
  
}
@media (min-width: 1625px){  
    .board-grid {
      margin-left: 104px;
      margin-top: 62px;
      overflow-x: hidden;
      border-style: groove;
    }             
  }



.board-grid > img {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
}
