.chips-container {  
  gap: 15px;
  background: var(--panel-bg);
  padding: 20px 20px;
  border-radius: 50px;
  border: 1px solid var(--neon-yellow);
  box-shadow: var(--border-glow);
}
@media (min-width: 80px) and (max-width: 767px) {
  .chips-container {    
    position: absolute;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    contain: content;
    width: 300px;
    height: 55px;
    justify-content: center;
    align-items: center;
    top: 471px;
    left: 48px;
  }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 984px) {
  .chips-container {    
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    width: 450px;
    left: 147px;
    top: 729px;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}
@media (min-width: 985px) and (max-width: 1624px) {
  .chips-container {    
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    width: 450px;
    left: 407px;
    top: 526px;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}
@media (min-width: 1625px) {
  .chips-container {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    width: 450px;
    left: 638px;
    top: 840px;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}

.chip-item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(255, 173, 0, 0.3));
  padding-top: 0;
  margin-top: -12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 80px) and (max-width: 767px) {
  .chip-item {
    top: 50px;
    width: 38px;
    height: 38px;
  }
}

/*
@media (min-width: 768px) and (max-width: 1024px) {
  .chip-item {
    width: 44px;
    height: 44px;
  }
}
*/

.chip-item:hover {
  transform: translateY(-10px) scale(1.1);
  filter: drop-shadow(0 0 15px var(--neon-yellow));
}

.chip-item.active {
  transform: translateY(-15px) scale(1.2);
  filter: drop-shadow(0 0 20px var(--neon-yellow));
}
