.dashboard {
  
  display: grid;
  grid-template-columns: 1fr;
  width: 90vw;
  height: auto;
  margin: 0 auto;
  gap: 16px;
  padding: 20px 0;
  position: relative;
  
}

@media (min-width: 1025px) {
  .dashboard {
    grid-template-columns: 70% 30%;
    height: 40vh;
    grid-template-rows: auto 1fr;
    gap: 20px;
  }
}

.babylon-container {
  width: 100%;
  min-height: 290px;
  border: 1px solid var(--neon-yellow);
  box-shadow: var(--border-glow);
  border-radius: 15px;
  overflow: hidden;
  margin-left:12px;
  margin-top: 4px;
}

@media (min-width: 1625px) {
  .babylon-container {
    min-height: 50vh;
  }
}

.table-container {
  width: 100%;
  min-height: 190px;
  background: var(--panel-bg);
  border: 1px solid var(--neon-yellow);
  box-shadow: var(--border-glow);
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative; 
}
@media (min-width: 984px) {
  .table-container {
    height: 95%;
    width: 95%;
    margin-top: 14px;      
  }
}

@media (min-width: 1625px) {
  .table-container {
    height: 95%;
    width: 95%;
    margin-top: 23px;   
  }
}
