.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: none;
  height: 14px;
  margin-left: auto; /* empuja el header hacia la derecha */
  margin-top: 6px;
  float: right;  
  
}
@media (max-width: 767px) {
  .header {
    padding: 8px 12px;
  }
}

.audio-login-container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2000;
}
@media (max-width: 767px) {
  .audio-login-container {
    gap: 10px;
  }
}

.login-button, .logout-button {
  background: var(--neon-yellow) !important;
  color: black !important;
  font-weight: bold !important;
  border-radius: 8px !important;
  box-shadow: 0 0 10px rgba(255, 173, 0, 0.5);
  transition: all 0.3s ease;
  max-height: 2.1rem;
  padding: 8px 11px;
  
}

.login-button:hover, .logout-button:hover {
  box-shadow: 0 0 20px var(--neon-yellow);
  transform: scale(1.05);
}
