.loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(66, 58, 58);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}
