.chip-container {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    max-width: 5em;
    max-height: 5em;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

img:hover {
    scale: 1.2;
}
