.chip-container {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

svg {
    cursor: pointer;
}

svg:hover {
    scale: 1.2;
}

.svg-text {
    font-size: 2rem;
}
