@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 80vw;
}

.logo {
    height: calc(1rem + 0.7rem + 1.4rem);
    width: 20rem;
    position: relative;
}

.main-heading {
    padding: 0.4rem 2.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 19.5rem;
    font-family: "Dancing Script", cursive;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-align: center;
}

.login-button,
.main-heading {
    background: black;
    color: rgb(154, 120, 41);
}

.button-border:has(.login-button),
.logo {
    background: linear-gradient(
        135deg,
        rgba(183, 163, 104),
        rgba(132, 106, 45, 255),
        rgba(132, 106, 45, 255),
        rgba(183, 163, 104)
    );
}

.logout-button {
    background: rgb(154, 120, 41);
    color: black;
}

.button-border:has(.logout-button) {
    background: linear-gradient(
        135deg,
        rgb(25, 24, 21),
        rgb(56, 46, 23),
        rgb(137, 98, 5),
        rgb(25, 24, 21)
    );
}
