@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 80svw;
}

.logo {
    height: calc(1rem + 0.7rem + 1.4rem);
    width: 20rem;
    position: relative;
}

.main-heading {
    padding: 0.4rem 2.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 19.5rem;
    font-family: "Dancing Script", cursive;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-align: center;
}
